[pull]
  rebase = false
[push]
  autoSetupRemote = true
[init]
  defaultBranch = master
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[include]
  path = .gitconfig.local
[alias]
  co = checkout
  br = branch
  ci = commit
  sw = switch
